# Model Training, Testing and evaluation

## Load Data

In [3]:
import pandas as pd 

df = pd.read_csv('aapl_features.csv')
df.head()

,date,symbol,close,sma_5,sma_20,sma_50,ema_12,ema_26,rsi,macd,macd_signal,macd_histogram,atr,daily_return,realized_volatility,downside_deviation,max_drawdown
0,2025-04-15 00:00:00-04:00,AAPL,201.646423,NaN,NaN,NaN,201.646423,201.646423,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,0.000000
1,2025-04-16 00:00:00-04:00,AAPL,193.795639,NaN,NaN,NaN,200.438610,201.064884,NaN,-0.626273,-0.125255,-0.501019,NaN,-0.038933,NaN,NaN,-0.038933
2,2025-04-17 00:00:00-04:00,AAPL,196.499023,NaN,NaN,NaN,199.832520,200.726672,NaN,-0.894152,-0.279034,-0.615118,NaN,0.013950,NaN,NaN,-0.025527
3,2025-04-21 00:00:00-04:00,AAPL,192.688339,NaN,NaN,NaN,198.733415,200.131240,NaN,-1.397825,-0.502792,-0.895032,NaN,-0.019393,NaN,NaN,-0.044425
4,2025-04-22 00:00:00-04:00,AAPL,199.252289,196.776343,NaN,NaN,198.813242,200.066132,NaN,-1.252890,-0.652812,-0.600079,NaN,0.034065,NaN,NaN,-0.011873